body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
  background-color: #ffffff;
}

/* header */
.site-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}

.site-logo-accent {
  color: #2e2f42;
}

.menu-list {
  list-style: none;
}

.menu-item {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

.menu-item:active {
  text-decoration: underline;
}

.site-contacts {
  font-style: normal;
}

.contacts-list {
  list-style: none;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02px;
  color: #434455;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* first section */
.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #ffffff;
  text-align: center;
}

.hero-button {
  font-weight: 500;
  letter-spacing: 0.64px;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  line-height: 1.5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* second section */
.features-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.72px;
  color: #2e2f42;
  line-height: 1.2;
}

.features-list {
  list-style: none;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

/* third section */
.team-section {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  list-style: none;
}

.team-card {
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #2e2f42;
}

/* fourth section */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.portfolio-list {
  list-style: none;
}

.portfolio-card {
  background-color: #e7e9fc;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  color: #2e2f42;
}

/* footer */
.site-footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}